*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}
#main{
    background: #1c92d2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c92d2, #f2fcfe); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    margin-top: 10px;
    font-style: normal;
    font-size: larger;
    color: aliceblue;
    width:100vw ;
    height: 15vh;
}
.mainul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    
}
.head{
    color: rgb(11, 11, 79);
    padding-top: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.mainul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    list-style-type: none;
    margin-bottom: 5%;
    margin-left: 5%;
}
.mainul li a{
    padding-right: 20%;
    text-decoration-line: none;
    margin-top:1%;
}
.welcome{
    background: #3494e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3494e6, #ec6ead); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3494e6, #ec6ead);
    display: flex;
    flex-direction: row;
    height: 500%;
}

.wtext{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-display: block;
}
.wimg img{
    width: 200px;
    height: 300px;
    border-radius: 10%;
    border-color: 2px solid grey;
    padding: 5%;
}

#qualification{
    border-top: 10px;
    border-color: grey;
    background: #a770ef; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);;
    display: flex;
    flex-direction: row;
}
.results img{
    border-radius: 5%;
    border: 5px solid #ec6ead;
}

#skills{
    background: #eecda3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eecda3, #ef629f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eecda3, #ef629f);
}
#text2{
    gap: 5%;
}
#contact{
    background: #134e5e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #134e5e, #71b280); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #134e5e, #71b280);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot1{
    height: 40px;
    background: #da22ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #da22ff, #9733ee); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #da22ff, #9733ee);
    display: flex;
    justify-content: center;
    align-items: center;
}
#button{
    height: 30px;
    width: 70px
}